
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding: 5px;

}


body{
    background-color: lightgray;
}

form input{
    display: block;
    width: 100%;
    margin-bottom: 1em;
    padding: 15px;
    border-radius: 5px;
}

form{
    background-color: gray;
    width: 60%;
}

textarea{
    width: 100%;
    resize: none;
}

form #pub{
    margin: auto;
    background-color: rgba(0, 0, 255, 0.521);
    width: 40%;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 8px;
}